body {
    overflow-x: hidden;
    text-align: center;
    height: 100vh;
}
.container {
    text-align: center;
    width: 100%;
    /* height: 100vh; */
    max-width: 1440px;
    margin: 0 auto;
}

/*header*/
header {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: medium;
}
header i, header span {
    white-space: nowrap;
    cursor: pointer;
    padding: 0 25px;
}
a {
    color: black;
    text-decoration: none;
}
/*header end*/


/*footer*/
footer {
    height: 68px;
    margin-top: 2.3rem;
    position: relative;
}
footer button {
    height: 36px;
    width: 120px;
    background: black;
    color: white;
    border: none;
    cursor: text;
    opacity: 0.9;
    margin: auto;
    margin-top: 0.3rem;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
footer a{
    color: grey;
    font-size: 0.83rem;
}   
footer a:hover {
    text-decoration: underline;
    cursor: pointer;
}
/*Footer End*/



/*home*/
.home-container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.wear {
    height: 355px;
    display: flex;
    flex-direction: column;
}
.home-img {
    height: 240px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.home-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}
.home-tag {
    height: 25px;
    font-size: 17px;
    font-weight: lighter;
    margin: 24px 0px;
    display: block;
}
.shop-button {
    height: 41px;
    width: 169px;
    border: 2px solid black;
    background: none;
    cursor: pointer;
    font-size: 14px;
}
.wear-tshirt {
    height: 350px;
    display: flex;
}
.tshirt {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.shirt {
    font-size: 0.9rem;
    height: 21px;
}
.shop-button-t {
    height: 41px;
    width: 129px;
    border: 2px solid black;
    background: none;
    cursor: pointer;
}
/*Home End*/




/*Items Start*/
.header-desc {
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.item-name-h {
    font-size: 14px;
    margin-bottom: 0.4rem;
}
.item-no {
    font-size: 12px;
    opacity: 0.6;
}

.items-lists {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 0.5rem;
    width: 100%;
    list-style-type: none;
}
.item-card {
    margin: 0.8rem;
    padding-top: 1rem;
}
.item-img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
.item-name {
    font-weight: bold;
    font-size: 13px;
    margin-top: 10px;
}
.item-cost {
    font-size: 0.8rem;
    opacity: 0.6;
}
/*Item End*/



/*Single-Item Start*/

.item-single {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.single {
    width: 100%;
    aspect-ratio: 1 / 1;
}
.single img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
.more {
    margin: 16px 0px;
    padding: 0px 24px;
    text-align: start;
}
.item-title{
    font-size: 20px;
}
.price {
    font-size: 13px;
    margin: 12px 0px 32px;
    opacity: 0.6;
}
.cart-btn, .order-btn {
    height: 64px;
    width: 100%;
    border: none;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #172c50;
    color: #FFFFFF;
    font-size: 15px;
    z-index: 1;
}
.choices{
    display: flex;
    flex-direction: column;
    background: none;
}
.choices hr {
    opacity: 0.7;
}
.choice.size, .choice.quant {
    display: flex;
    flex-direction: row;
    height: 50px;
    padding: 10px 0px;
    text-align: center;
    gap: 3rem;
}
.choice.quant {
    gap: 1.2rem;
}
.choice option, .choice select{
    font-size: medium;
}
.choice .quant {
    gap: 5rem;
}
.item-title .item-no, .choice .item-no {
    font-size: 13px;
}
.item-title .item-no {
    margin-top: 15px;
    margin-bottom: 30px;
}
.choice select {
    width: 100%;
    border: none;
    background: none;
}
.desc {
    margin: 18px 0px;
    font-size: 13px;
    font-weight: bold;
}
.description{
    font-size: 13px;
    opacity: 0.7;
}
.feature-item {
    margin: 13px 0px;
    padding: 0px 0px 0px 40px;
}
/*Single-Item End*/



/*Cart-start*/
.cart-head {
    margin-bottom: 50px;
}
.cart-head p {
    font-size: 14px;
}
.cart-img {
    height: 75px;
    width: 75px;
}
.cart-item {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    align-content: flex-start;
}
.top-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-start; */
    row-gap: 1rem;
}
.cart-name {
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px; 
}
.bottom-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 13px;
    opacity: 0.6;
    gap: 5px;
}
.cart-qty select {
    border: none;
    padding: 0px 10px;
}
.cart-qty option {
    font-size: medium;
}
.cart-size span{
    padding: 0px 10px;
}
.cross-mark {
    padding: 0 1rem;
    opacity: 0.6;
}
.cart-btn-check, .cart-btn-desk {
    cursor: pointer;
}
.total {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: small;
    opacity: 0.8;
    padding-right: 1rem;
}
/*Cart-end*/




/*Checkout start*/
.checkout-container {
    text-align: start;
    padding: 0px 24px 48px;
}
.checkout-head {
    text-align: center;
    font-size: 14.3px;
    margin: 0px 0px 4px;
}
.checkout-desc {
    text-align: center;
    font-size: 12px;
    opacity: 0.6;
}
.input-style {
    display: flex;
    flex-direction: column;
    height: 75px;
    width: 100%;
    font-size: 16px;
    background: none;
    opacity: 0.4;
    justify-content: flex-end;
}
.input-style label {
    padding: 8px 0px;
}
.input-style input {
    border: none;
    border-top: 1px solid grey;
}
.form-order h5 {
    margin: 10.5px 0px;
    opacity: 0.9;
    font-size: 13px;
}
.flexing {
    display: flex;
    gap: 10px;
}
.flex1 {
    display: flex;
}
.inp, .inp1 {
    width: 50%;
    flex: 1;
    font-size: 16px;
}
.bill {
    display: flex;
    gap: 10px;
    margin: 28px 0px;
    font-size: 13px;
}
.bill-check {
    height: 18px;
    width: 18px;
    border: 1px solid black;
    border-radius: 15%;
}
.orders {
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    opacity: 0.9;
}
.header-desc {
    cursor: text;
}
.selection {
    height: 75px;
    overflow: hidden;
}
.selection label{
    font-size: 13px;
}
.select {
    margin: 8px 24px 8px 0px;
    width: 100%;
    border: none;
    background: none;
    font-size: 16px;
}
.select-inp1 {
    flex: 1;
    padding: 8px 24px 8px 0px;
    border: none;
    background: none;
    font-size: 16px;
}

/* checkout end*/






@media (min-width: 768px) and (max-width: 1440px) {

    /*header & footer*/
    .fa-bars{
        visibility: hidden;
    }
    .header {
        height: 70px;
    }
    nav {
        height: 66px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        font-size: small;
    }
    nav a{
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    footer {
        height: 68px;
    }
    /*header & footer end*/


    /*home*/
    .home-container {
        gap: 2.5rem;
    }
    .home-tag {
        margin: 24px 0px;
        display: block;
    }
    .wear {
        height: 450px;
        display: flex;
        justify-content: space-between;
    }
    .home-img, .home-img-item {
        height: 320px;
    }
    .home-tag {
        height: 25px;
        font-size: 17px;
    }
    .shop-button {
        font-size: 14px;
    }
    .wear-tshirt {
        height: 446px;
    }
    .tshirt {
        display: flex;
        justify-content: space-between;
    }
    .shirt {
        font-size: 14.3px;
    }
    .shop-button-t {
        height: 41px;
        width: 170px;
        font-size: 14px;
    }



    /*items*/
    .items-lists {
        grid-template-columns: repeat(3, 1fr);
    }
    .item-card {
        margin: 0 48px;
        padding: 10px;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    .item-img {
        padding-bottom: 1rem;
    }
    .home-img {
        margin-bottom: 1.5rem;
    }
    .home-img-item {
        margin-bottom: 1.5rem;
    }
    .header-desc {
        height: 50px;
    }
    .item-name-h {
        font-size: 17px;
        margin-bottom: 1px;
        height: 25.5px;
    }
    .visit {
        text-decoration: underline;
        text-underline-offset: 10px;
        text-decoration-color: rgb(24, 24, 97);
        text-decoration-thickness: 2px;
    }
    .men-cursor {
        cursor: default;
    }


    /*Single-Item*/
    .item-single {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .cart-btn {
        display: none;
    }
    .single, .more {
        width: 50%;
        margin: 64px 32px;
    }
    .item-title{
        font-size: 24px;
    }
    .price {
        font-size: 16px;
        margin: 12px 0px 32px;
        opacity: 0.6;
    }
    .more {
        opacity: 0.75;
    }
    .cart-btn-desktop {
        width: 186px;
        height: 36px;
        font-size: 14px;
        background: none;
        border: 1px solid black;
        margin-top: 10px;
        opacity: 1;
    }





    /*cart-page*/
    .cart-head {
        margin-top: 64px;
    }
    .cart-head p {
        font-size: 18px;
    }
    .cart-item {
        display: flex;
        column-gap: 1rem;
        padding-left: 40px;
    }
    .top-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 12rem;
    }
    .bottom-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 6.5rem;
    }
    .cross-mark {
        display: flex;
        align-items: center;
    }
    .total {
        position: relative;
        right: 410px;
    }
    .cart-btn-desk {
        height: 40px;
        width: 180px;
        border: 2px solid black;
        background: none;
        color: black;
        position: relative;
        left: 100px;
        cursor: pointer;
    };

    .cart-btn-check {
        display: none;
    }
    /*cart-page-end*/



    /*checkout*/
    .checkout-container {
        padding: 64px 0px 64px;
    }
    .form-order {
        margin: 40px 0px 0px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 5rem;
    }
    .checkout-head {
        font-size: 16px;
    }
    .order-btn {
        display: none;
    }
    .order-btn-desk {
        margin-top: 20px;
        height: 40px;
        width: 180px;
        border: 2px solid black;
        background: none;
        color: black;
    }
}


@media (max-width: 767px) {
    nav {
        display: none;
    }
    .home-img-item {
        display: none;
    }
    .order-btn-desk {
        display: none;
    }
    .cart-btn-desk {
        display: none;
    }
    .cart-btn-desktop {
        display: none;
    }
}