html, body {
    height: 100%;
    color: #202020;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    overflow-x: hidden;
}
main {
    flex: 1;
}

/*header*/
header {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: medium;
    padding: 0px 18px;
}
header i {
    padding: 8px;
    cursor: pointer;
}
header span {
    display: inline-block;
    vertical-align: bottom;
    padding-top: 8px;
    cursor: pointer;
}
a {
    color: #202020;
    text-decoration: none;
}
/*header end*/


/*footer*/
footer {
    height: 68px;
    margin: 36px 0px 0px;
}
footer button {
    height: 36px;
    width: 120px;
    background: black;
    color: white;
    border: none;
    cursor: text;
    opacity: 0.9;
    margin: 8px auto 0px;
    font-size: 13px;
}
footer a {
    color: grey;
    font-size: 13px;
}   
footer a:hover {
    text-decoration: underline;
    cursor: pointer;
}
/*Footer End*/



/*home*/
.home-container {
    display: flex;
    flex-direction: column;
    color: #202020;
}
.wear {
    height: 354px;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 40px;
}
.home-img {
    height: 240px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.home-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}
.home-tag {
    height: 25px;
    font-size: 16.9px;
    font-weight: lighter;
    margin: 24px 0px;
    display: block;
}
.shop-button, .shop-button-t {
    height: 41px;
    width: 169.5px;
    border: 2px solid black;
    background: none;
    cursor: pointer;
    font-size: 14px;
}
.wear-tshirt {
    height: 350px;
    display: flex;
}
.tshirt {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.shirt {
    font-size: 14.3px;
    height: 21px;
}
.shop-button-t {
    width: 129.5px;
}
/*Home End*/




/*Items Start*/
.header-desc {
    height: 44.94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.item-name-h {
    font-size: 14.3px;
    margin-bottom: 4px;
}
.item-no {
    font-size: 12px;
    color: #757575;
}
.items-lists {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 10px;
    width: 100%;
    list-style-type: none;
}
.item-card {
    margin: 0px 12px;
}
.shop-list-item {
    display: flex;
    flex-direction: column;
}
.shop-list-img {
    margin: 2rem 0rem 1rem;
}
.item-img {
    width: 100%;
    object-fit: contain;
    display: block;
}
.item-name {
    font-weight: bold;
    font-size: 13px;
}
.item-cost {
    font-size: 13px;
    opacity: 0.6;
}
.foot {
    margin: 28px 0px 0px;
}
/*Item End*/



/*Single-Item Start*/

.item-single {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.single {
    width: 80%;
    margin: auto;
}
.single img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
.more {
    margin: 29.2px 0px 28px;
    padding: 0px 24px;
    text-align: start;
}
.item-title{
    font-size: 20px;
}
.price {
    font-size: 13px;
    margin: 9px 0px 32px;
    opacity: 0.6;
}
.cart-btn, .order-btn {
    height: 64px;
    width: 100%;
    border: none;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #172c50;
    color: #FFFFFF;
    font-size: 15px;
    z-index: 1;
}
.choices{
    display: flex;
    flex-direction: column;
    background: none;
}
.choices hr {
    opacity: 0.4;
}
.choice {
    display: flex;
    height: 48px;
    align-items: center;
    justify-content: flex-start;
}
.choice option, .choice select{
    font-size: medium;
}
.items-no {
    font-size: 12.5px;
    opacity: 0.7;
}
.choice select {
    width: 100%;
    border: none;
    background: none;
}
.size select {
    padding-left: 41px;
    margin-right: 7px;
}
.quant select {
    padding-left: 18.5px;
    margin-right: 7px;
}
.description {
    margin: 32px 0px;
    font-size: 13px;
}
.description p, .description ul, .description dl {
    opacity: 0.7;
}
#desc {
    margin: 16px 0px;
    font-size: 13px;
    font-weight: bold;
    color: #202020;
}
.feature-item {
    margin: 13px 0px;
    padding: 0px 0px 0px 40px;
}
.foot-single {
    margin: 0px;
}
/*Single-Item End*/



/*Cart-start*/

.cart-head p {
    font-size: 14.3px;
}
.cart {
    padding: 0px 24px 48px;
}
.cart-list {
    margin: 40px 0px;
}
.cart-img {
    height: 72px;
    width: 72px;
}
.cart-item {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    margin-bottom: 24px;
    position: relative;
}
.cart-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
    text-align: start;
    
}
.cart-name {
    font-size: 13px;
    max-width: 150px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item-info {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color: #757575;
    margin-right: 10px;
    padding-top: 8px;
    line-height: 20px;
    position: relative;
}
.cart-qty select {
    border: none;
    background: none;
    padding-left: 9px;
    font-size: medium;
}
.cart-size span{
    padding: 0px 10px;
}
.cross-mark {
    padding: 8px;
    font-size: medium;
    position: absolute;
    right: -47px;
    top: -25px;
}
.cart-btn-check, .cart-btn-desk {
    z-index: 1;
    cursor: pointer;
}
.total {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: small;
    margin-right: 10px;
}
.total span {
    margin-left: 28px;
}
/*Cart-end*/




/*Checkout start*/
.checkout-container {
    text-align: start;
    padding: 0px 24px 48px;
}
.checkout-head {
    text-align: center;
    font-size: 14.3px;
    margin: 0px 0px 4px;
}
.checkout-desc {
    text-align: center;
    font-size: 12px;
    opacity: 0.6;
}
.input-style {
    display: flex;
    flex-direction: column;
    height: 74px;
    width: 100%;
    font-size: 16px;
    background: none;
    opacity: 0.5;
    justify-content: flex-end;
}
.input-style label {
    padding-top: 8px;
    padding-bottom: 6px;
}
.input-style input {
    border: none;
    border-top: 1px solid grey;
    padding-bottom: 1px;
}
.form-order h5 {
    margin-top: 12.5px;
    margin-bottom: 10.7px;
    font-size: 13px;
}
.flexing {
    display: flex;
    gap: 10px;
}
.flex1 {
    display: flex;
}
.inp, .inp1 {
    width: 50%;
    flex: 1;
    font-size: 16px;
}
.bill {
    display: flex;
    gap: 10px;
    margin: 28px 0px;
    font-size: 13px;
}
.bill-check {
    height: 18px;
    width: 18px;
    border: 2px solid black;
    border-radius: 15%;
}
.orders {
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    line-height: 24px;
}
.header-desc {
    cursor: text;
}
.selection {
    height: 75px;
    overflow: hidden;
}
.selection label{
    font-size: 13px;
}
.select {
    padding: 4px 24px 8px 0px;
    width: 100%;
    border: none;
    background: none;
    font-size: 16px;
}
.select-inp1 {
    flex: 1;
    min-width: 0;
    padding: 4px 24px 8px 0px;
    border: none;
    background: none;
    font-size: 16px;
}
.select, .select-inp1 {
    border-bottom: 1px solid #cacaca;
    text-align: start;
}
.space {
    height: 90px;
}
.t {
    padding-top: 5px;
}
/* checkout end*/






@media (min-width: 768px) and (max-width: 1440px) {

    /*header & footer*/
    .fa-bars{
        visibility: hidden;
    }
    nav {
        height: 66px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        font-size: small;
    }
    nav a{
        cursor: pointer;
        padding: 9px 5px;
    }
    /*header & footer end*/


    /*home*/
    .wear {
        height: 450px;
        display: flex;
        justify-content: space-between;
        margin: 0px 0px 40px;
    }
    .home-img, .home-img-item {
        height: 320px;
    }
    .home-tag {
        font-size: 17px;
        margin: 32px 0px;
    }
    .shop-button {
        font-size: 14px;
    }
    .wear-tshirt {
        height: 446px;
    }
    .tshirt {
        display: flex;
        justify-content: space-between;
    }
    .shirt {
        font-size: 14.3px;
    }
    .shop-button-t {
        height: 41px;
        width: 170px;
        font-size: 14px;
    }
    /*home-end*/



    /*items*/
    .home-img-item {
        margin-bottom: 1.8rem;
    }
    .items-lists {
        grid-template-columns: repeat(3, 1fr);
    }
    .header-desc {
        height: 50px;
    }
    .item-name-h {
        font-size: 16.9px;
        margin-bottom: 4.1px;
        height: 25.36px;
    }
    .visit {
        display: inline-block;
        border-bottom: 0.15rem solid rgb(17, 17, 68);
        padding-bottom: 8px;
    }
    .men-cursor {
        cursor: default;
    }
    .home-img:active {
        outline: 2px solid black;
        outline-offset: -6px;
        border-radius: 8px;
    }
    .item-card {
        margin: 0px 49.68px;
    }
    /* .shop-list-item {
        margin: 0px 37.68px;
    }*/
    .shop-list-img {
        padding: 0px 10px 20px 10px;
    }




    /*Single-Item*/
    .item-single {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        width: 88%;
        margin: auto;
    }
    .single {
        width: 60%;
        margin: 64px 32px 54px;
        padding-left: 1.5px;
    }
    .more {
        width: 40%;
        padding: 0px;
        padding-top: -15px;
        margin: 60px 32px 54px;
    }
    .item-img-single {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .cart-btn {
        display: none;
    }
    .item-title{
        font-size: 24px;
    }
    .price {
        font-size: 16px;
        margin: 12px 0px 40px;
    }
    .cart-btn-desktop {
        width: 186px;
        height: 36px;
        font-size: 14px;
        background: none;
        border: 2px solid black;
        margin-top: 19px;
    }





    /*cart-page*/
    .cart {
        min-height: 100vh;
        margin: 0px auto;
        padding-right: 75px;
    }
    .cart-head {
        padding-top: 66px;
    }
    .cart-head p {
        font-size: 16.9px;
    }
    .cart-info {
        flex-direction: row;
        align-items: center;
        column-gap: 10rem;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    .item-info {
        flex-direction: row;
        align-items: center;
        column-gap: 5rem;
        padding: 0;
        margin: 0;
    }
    .cart-name {
        max-width: none;
        white-space: normal;
        overflow: visible;
        text-overflow: unset;
        margin: 0px 30px 0px 20px;
    }
    .cart-price {
        margin-right: 3rem;
    }
    .cross-mark {
        position: absolute;
        top: -7px;
    }
    .extra {
        margin-left: 8px;
    }
    .total {
        display: none;
    }
    .total-desk span {
        margin-left: 25px;
        margin-right: 20px;
    }
    .total-desk {
        margin-top: 20px;
        font-weight: bold;
        font-size: small;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        column-gap: 0.3rem;
        position: absolute;
        right: 200px;
    }
    .cart-btn-desk {
        height: 40px;
        width: 170px;
        border: 2px solid black;
        background: none;
        color: black;
        cursor: pointer;
        margin-left: 45px;
    };
    .cart-item {
        margin-bottom: 0px;
    }
    .cart-btn-check {
        display: none;
    }
    /*cart-page-end*/



    /*checkout*/
    .checkout-container {
        margin: 0px 38px;
        padding-top: 66px;
        width: 73.8%;
        margin: auto;
        padding-bottom: 10px;
    }
    .form-order {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 40px;
    }
    .desk-check1, .desk-check2 {
        width: 50%;
    }
    .desk-check2 {
        margin-left: 80px;
    }
    .checkout-head {
        font-size: 16.9px;
    }
    .order-btn {
        display: none;
    }
    .order-btn-desk {
        margin-top: 25px;
        height: 36px;
        width: 192px;
        border: 2px solid black;
        background: none;
        color: black;
        font-size: 14px;
    }
    .select, .select-inp1 {
        padding-top: 5px;
    }
}


@media (max-width: 767px) {
    .total-desk {
        display: none;
    }
    nav {
        display: none;
    }
    .home-img-item {
        display: none;
    }
    .order-btn-desk {
        display: none;
    }
    .cart-btn-desk {
        display: none;
    }
    .cart-btn-desktop {
        display: none;
    }
    .hide {
        display: none;
    }
}